<h4>Bucket List  | <a href="#dash/">Home</a>  | <button ng-click="logout()">Log out</button></h4> 

<h1>{{name}}'s Bucket List</h1>
<!-- items done: {{itemsDone}} -->
<h3>Done</h3>

<table>
<tbody>
		<tr ng-repeat="i in itemsDone">
		<td><input type="checkbox" name="" checked onclick="return false"></td>
		<td>{{i.name}}</td>
		<td>|</td>
		<td>{{i.title}}</td>
		<td>-</td>
		<td>{{i.description}}</td>
		<td>-</td>
		<td>{{i.createdAt | date:"MMMM dd yyyy"}}</td>
		</tr>
	</tbody>
</table>
<!-- Items not done: {{itemsNotDone.length}} -->
<h3>Pending</h3>
<table>
<tbody>
		<tr ng-repeat="i in itemsNotDone">
		<td><input type="checkbox" name="" onclick="return false"></td>
		<td>{{i.name}}</td>
		<td>|</td>
		<td>{{i.title}}</td>
		<td>-</td>
		<td>{{i.description}}</td>
		<td>-</td>
		<td>{{i.createdAt | date:"MMMM dd yyyy"}}</td>
		</tr>
	</tbody>
</table>

